<!-- email_reader/templates/email_reader/email_detail.html -->
{% extends 'email_reader/base.html' %}

{% block title %}Email Detail{% endblock %}

{% block content %}
<div class="container-fluid my-4">
    <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-6">
            <h1 class="text-center mb-4">Email Detail</h1>
            <dl class="row">
                <dt class="col-sm-4">Name</dt>
                <dd class="col-sm-8">{{ email.name }}</dd>
                <dt class="col-sm-4">Price</dt>
                <dd class="col-sm-8">₹{{ email.price }}</dd>
                <dt class="col-sm-4">Detail</dt>
                <dd class="col-sm-8">{{ email.detail }}</dd>
            </dl>
            <div class="d-flex justify-content-center mt-4">
                <a href="{% url 'email_update' email.pk %}" class="btn btn-warning mx-2">Edit</a>
                <a href="{% url 'email_delete' email.pk %}" class="btn btn-danger mx-2">Delete</a>
                <a href="{% url 'email_list' %}" class="btn btn-outline-secondary mx-2">Back to List</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
