<!-- email_reader/templates/email_reader/search_email.html -->
{% extends 'email_reader/base.html' %}

{% block title %}Search Email{% endblock %}

{% block content %}
    <div class="container-fluid">
        <form method="post" class="mt-5 mb-5 mx-auto" style="max-width: 50rem;">
            {% csrf_token %}
            <h1 class="mt-5 text-center">Search Email</h1>
            <div class="form-group">
                <input type="email" id="id_email_id" name="email_id" class="form-control mb-4" placeholder="Enter email" style="padding: 1.5rem;">
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-outline-primary btn-lg">Search</button>
            </div>
        </form>

        {% if email %}
            <div class="mt-5">
                <h2 class="text-center">Search Results</h2>
                <div class="table-responsive">
                    <table class="table table-bordered table-striped">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Email ID</th>
                                <th scope="col">Name</th>
                                <th scope="col">Price</th>
                                <th scope="col">Detail</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{ email.email_id }}</td>
                                <td>{{ email.name }}</td>
                                <td>{{ email.price }}</td>
                                <td>{{ email.detail }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        {% elif email is not None %}
            <div class="mt-5 alert alert-danger text-center" role="alert">
                Email not found.
            </div>
        {% endif %}
    </div>
{% endblock %}
